spring.application.name=minder

spring.datasource.url=jdbc:h2:file:./data/minder
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

# migrate like the prisma orm
spring.jpa.hibernate.ddl-auto=update

